<?xml version="1.0" ?>
<launch>
	<arg name="robot_name" default="hyq" />
        <arg name="only_torque" default="false" />
        <arg name="task_period" default="0.001"/>
        <arg name="world_name" default="empty.world" />
        <arg name="rviz" default="true" />
        <arg name="rviz_conf" default="$(find ros_impedance_controller)/config/operator.rviz"/>
        <param name="robot_name" type="str" value="$(arg robot_name)" />

                <!-- Loading robot decription into parameter server and launching gazebo-->
        <include file="$(eval find(arg('robot_name') + '_description') +'/launch/world.launch')">
            <arg name="world_name" value="$(arg world_name)" />
            <arg name="task_period" value="$(arg task_period)"/>
        </include>

		<!-- Loading robot states controller configurations from YAML file to parameter server -->
        <rosparam file="$(find ros_impedance_controller)/config/joint_state_publisher.yaml" ns="/$(arg robot_name)" command="load"/>

         <!-- Loading ros_impedance_controller config -->
        <group if="$(arg only_torque)">
            <rosparam file="$(find ros_impedance_controller)/config/ros_impedance_controller_only_torques.yaml" ns="/$(arg robot_name)" command="load"/>
        </group>
        <group unless="$(arg only_torque)">
            <rosparam file="$(find ros_impedance_controller)/config/ros_impedance_controller_pd.yaml" ns="/$(arg robot_name)" command="load"/>
        </group>

        <!-- Loading the controllers (joint state publisher (install ros-kinetic-joint-state-controller) is necessary for robot_state publisher to compute the TFs) -->
        <node name="ros_impedance_controller" pkg="controller_manager" type="spawner" respawn="false"
                output="screen" ns="/$(arg robot_name)" args="joint_state_publisher ros_impedance_controller"/>

		<!-- convert joint states to TF transforms for rviz, etc -->
                <node name="robot_state_publisher_for_rviz" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="/joint_states" to="/$(arg robot_name)/joint_states"/> 
		</node>

        <!-- run rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world" if="$(arg rviz)"/>

</launch>

