<?xml version="1.0" ?>
<launch>
     
     <arg name="rviz_conf" default="$(env LOCOSIM_DIR)/robot_control/rviz/config.rviz"/>
     <arg name="test_joints" default="false"/>
     <arg name="robot_name" default="solo"/>
     <arg name="internal_wrench" default="false" />
     <arg name="task_period" default="0.004" />
     <arg name="flywheel" default="false" />
     <arg name="new_gazebo_version" default="false" />
     

     <!-- load robot name into param server for urdf generation-->
     <param name="flywheel" type="str" value="$(arg flywheel)" />
    
     <!-- send the robot XML to param server -->
     <!--param name="robot_description" command="$(find xacro)/xacro.py '$(env LOCOSIM_DIR)/robot_urdf/$(arg robot_name).urdf'" /-->   
 	 <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find solo_description)/robots/solo.urdf.xacro'
          new_gazebo_version:=$(arg new_gazebo_version) flywheel:=$(arg flywheel) load_force_sensors:=$(arg internal_wrench) task_period:=$(arg task_period)"/>

     <group if="$(arg test_joints)">
	     <!-- joint_state_publisher publish joint states from sliders-->
	     <group if="$(arg new_gazebo_version)">
		  <!-- for ros noetic -ubuntu 20-->
		     <node name="joint_state_publisher_noetic" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	    </group>
	    <group unless="$(arg new_gazebo_version)">
		     <!-- for ros kinetic -ubuntu 16-->
		     <node name="joint_state_publisher_kinetic" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="$(arg test_joints)"/>
			<param name="publish_default_efforts" value="True"/>
		     </node>
	    </group>
    </group>


    <!-- run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world"  />

	
    <!-- start robot state publisher sends joint state data to gazebo, 	convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        
    </node> 

</launch>
