<?xml version="1.0" ?>
<launch>
     
     <arg name="rviz_conf" default="$(env LOCOSIM_DIR)/robot_control/rviz/config.rviz"/>
     <arg name="robot_name" default="jumpleg"/>

     <!-- send the robot XML to param server -->
     <param name="robot_description" command="$(find xacro)/xacro '$(env LOCOSIM_DIR)/robot_urdf/$(arg robot_name).urdf'" />
     
    <!-- run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world"  />

	
    <!-- start robot state publisher sends joint state data to gazebo, 	convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        
    </node> 

</launch>
